* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	
	background-color: #223343;
}



h1 {
	font-family: 'Courier New';
	padding: 50px 15px 0px;
	color: #FFF;
	font-size: 48px;
	font-weight: bold;
	text-align: center;
}

main {
	
	width: 960px;
	margin: 0 auto;
}


.searchbox {
	display:inline-block;
	width: 100%;
	padding: 15px;

	border: none;
	outline: none;
	background: none;

	background-color: #EEE;
	border-radius: 8px;

	color: #53565A;
	font-size: 20px;
	font-weight: 300;
}
.results {
	display: flex;
	flex-wrap: wrap;
	margin: 0px -15px;
}


.container {
	position: relative;
	width: 50%;
  }
  
  .image {
	display: block;
	max-width: 100%;
	margin:auto;
	height: auto;
	padding: 20px;
  }
.overlay {
	position: absolute;
	bottom: 100%;
	left: 0;
	right: 0;
	background-color: #FEC8D8;
	overflow: hidden;
	width: 100%;
	height:0;
	transition: .5s ease;
  }
  
  .container:hover .overlay {
	bottom: 0;
	height: 100%;
  }
  
  .text {
	
	word-wrap: break-word;
	color: white;
	font-size: 20px;
	position: relative;
	overflow: hidden;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
  }

	
